<h1>Listing assignments</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Duedate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assignments.each do |assignment| %>
  <tr>
    <td><%= assignment.title %></td>
    <td><%= assignment.description %></td>
    <td><%= assignment.duedate %></td>
    <td><%= link_to 'Show', [@course, assignment] %></td>
    <td><%= link_to 'Edit', edit_course_assignment_path(@course, assignment) %></td>
    <td><%= link_to 'Destroy', [@course, assignment], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate %> 

<%= link_to 'New Assignment', new_course_assignment_path %>
