<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @assignment.title %>
</p>

<p>
  <b>Description:</b>
  <%= @assignment.description %>
</p>

<p>
  <b>Duedate:</b>
  <%= @assignment.duedate %>
</p>

<% if current_user.class.name == "Teacher" %>
<%= link_to 'Edit', edit_course_assignment_path(@course, @assignment) %> |
<% end %>
<%= link_to 'Back', course_assignments_path %>
