<h1><%= @student.first_name %> <%= @student.last_name.upcase %>'s courses</h1>

<% if @courses.length > 0 %>
  <%= form_tag(course_remove_student_path(@student)) do %>
  <table>
    <tr>
      <th>Course</th>
      <% if current_user.class.name == "Student" %>      
      <th>Remove?</th>
      <% end %>
    </tr>
  <% for course in @courses do %>
    <tr>
      <td><%= course.title %></td>
      <% if current_user.class.name == "Student" %>
      <td><%= check_box_tag "courses[]", course.id %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
  <br />
  <% if current_user.class.name == "Student" %>      
  <%= submit_tag 'Remove checked courses' %>
  <% end %>
  <% end %>
<% else %>
  <p>Not enrolled in any courses yet.</p>
<% end %>

<% if current_user.class.name == "Student" %>
<h2>Enroll in new course</h2>
<% if @student.courses.count < Course.count %>
  <%= form_tag(course_add_student_path(@student)) do %>
    <%= select_tag(:course, options_from_collection_for_select(Course.find(:all) - @student.courses, :id, :title)) %>
    <%= submit_tag 'Enroll' %>
  <% end %>
<% else %>
  <p><%= @student.first_name %> <%= @student.last_name.upcase %> is enrolled in every course.</p>
<% end %>
<% end %>
<p><%=link_to "Back", @student %></p>