<h1>Listing students</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Courses</th>
    <th></th>
    <th></th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= student.first_name %></td>
    <td><%= student.last_name %></td>
    <td><%= student.email %></td>
    <td><%= student.courses.count %></td>    
    <td><%= link_to 'Show', student %></td>
    <td><%= link_to 'Destroy', student, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
