<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @student.first_name %> <%= @student.last_name.upcase %>
</p>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>

<p>
  <b>Courses:</b>
  <% if @student.courses.empty? %>
    Not enrolled on any courses yet.
  <% else %>
    <%= @student.courses.collect {|c| link_to(c.title, c)}.join(", ").html_safe%>
  <% end %>
</p>

<% if current_user.class.name == "Student" %>
<%= link_to 'Edit', edit_student_path(@student) %> |
<% end %>
<%= link_to 'Courses', courses_student_path(@student) %> |
<%= link_to 'Back', students_path %>
