<h1>Listing lecturenotes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lecturenotes.each do |lecturenote| %>
  <tr>
    <td><%= lecturenote.title %></td>
    <td><%= lecturenote.content %></td>
    <td><%= link_to 'Show', [@course, lecturenote] %></td>
    <td><%= link_to 'Edit', edit_course_lecturenote_path(@course, lecturenote) %></td>
    <td><%= link_to 'Destroy', [@course, lecturenote], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate %> 

<%= link_to 'New Lecturenote', new_course_lecturenote_path %>
