<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">	 
    <div class="container-fluid" id="logo">
      <% if (@course == nil) %>
        <h1>Course Name Goes Here</h1>
        <h2>Lecturer Information Goes Here</h2>
      <% else %>      
        <h1><%= @course.number %>: <%= @course.title %></h1>
        <h2>Email: <%= @course.teacher.email %> Lecturer: <%= @course.teacher.first_name %> <%= @course.teacher.last_name %></h2>
        <nav><ul class="nav pull-right">
          <li><%= link_to "Syllabus", @course %></li>
          <li><%= link_to "Lectures", course_lecturenotes_path(@course) %></li>
          <li><%= link_to "Assignments", course_assignments_path(@course) %></li>
        </ul> </nav>
      <% end %>       
    </div>
  </div>
</header>