<!DOCTYPE html>
<html>
<head>
  <% if (@course == nil) %>
    <title>SampleAppRails</title>
  <% else %>
    <title><%= @course.title %></title>
    <meta name="keywords" content="<%= @course.description %>, <%= params[:controller] %>"/>    
    <meta name="description" content="<%= params[:controller] %> of <%= @course.title %>"/>    
  <% end %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container-fluid">
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
