<!DOCTYPE html>
<html>
<head>
  <% if !signed_in? %>
    <title>Sign in</title>
  <% elsif @course == nil %>
    <title>Select a course</title>
  <% else %>
    <title><%= @course.title %></title>
    <meta name="keywords" content="<%= @course.description %>, <%= params[:controller] %>"/>    
    <meta name="description" content="<%= params[:controller] %> of <%= @course.title %>"/>    
  <% end %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container-fluid">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
